.main-container {
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  display: block;
}
.container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: 700;
}
