.search {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  width: 100%;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.search-bar input {
  width: 50%;
  border: none;
  outline: none;

  height: 80px;
  top: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: grey;
}
.search-bar input::placeholder {
  font-size: 40px;
}
.custom-icon {
 position: relative;
 top: 20px;
 font-size: 40px;
 color: grey;
}
.search hr {
  width: 80%;
  position: absolute;
  left: 10%;
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:470px) and (max-width:700px){

  .search-bar input {
    font-size: 20px;
    z-index: 1;
    }   

    .search-bar input::placeholder {
       font-size: 25px;
      }
      .custom-icon{
        font-size: 20px;
      }
      .search hr{
        position: relative;
        z-index: 3;
        
      }
    
}
@media (max-width:470px){
    .search-bar input {
        font-size: 15px;
        }   
    
        .search-bar input::placeholder {
           font-size: 15px;
          }
          .custom-icon{
            font-size: 20px;
          }
         
}


.product-field{
    box-sizing: border-box;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px;
    padding: 10px;

}
.product{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* border: 2px solid grey; */
    border-radius: 10px;
    width: 40%;
    height: 190px;
    transition: box shadow 2s ease;
    gap: 70px;
    cursor: pointer;
}
.product:hover{
    box-shadow: 0px 4px 8px rgba(135, 130, 130, 0.6); 
}
.product img{
    border: 1px solid rgb(237, 234, 234);
    border-radius: 10px;
    width: 100px;
    height: 180px;
    transition: box shadow 2s ease-in-out;
}
.product img:hover{
    box-shadow: 0px 4px 8px rgba(87, 86, 86, 0.6); 
    transform: scale(1.08);
}
.product-details{
    display: block;
    margin: 2px;
    padding: 2px;
    
    width: 50%;
    height: auto;
}
.product-name{
     font-weight: 700;
}
@media (max-width:768px){
  .product{
    border: none;
    transition: none;
   
  }
  .product:hover{
    box-shadow: none; 
}  
  .product img{
     width: 80px;
    }
}
@media (min-width:768px) and (max-width:1080px){
    .product img{
     width: 50px;
    }
}